<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styleshit.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class = 'header'>

    {% if request.user.is_authenticated %}
        <div class="logout">
        <p>{{ request.user.username }}</p>
        <p><a href="/logout"><strong>выйти</strong></a></p>
        </div>
    {%else%}
    <a href="/register"><div class="header-btn"><strong>Регистрация</strong></div></a>
    <a href="/login"><div id="header_btn" class="header-btn"><strong>Вход</strong></div></a>
    {% endif %}
    <a href="/"><div id="home_url"></div></a>
</div>
    {% block body %}
    {% endblock %}
</body>
</html>