<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styleshit.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class = 'header'>
    <a href="/"><div id="home_url"></div></a>
    {% if logged %}
    <p>{{ username }}</p>
    <a href="/logout"><div><strong>выйти</strong></div></a>

    {%else%}
    <a href="/register"><div class="header-btn"><strong>Регистрация</strong></div></a>
    <a href="/login"><div id="header_btn" class="header-btn"><strong>Вход</strong></div></a>
    {% endif %}
</div>
    {% block body %}
    {% endblock %}
</body>
</html>