{% extends 'base.html' %}

{% block title %}
{{ beer.name }}
{% endblock %}


{% block body %}

<div class="block">
<div class="recommend">

<form method="post" action="/api/mark">
    {% csrf_token %}
    <span>Оцените это пиво</span>
    <input name="mark" id="mark" type="number" value="5" required max="10" min="1">
    <input name="mark" hidden value="{{ beer_id }}">
    <input name="mark" hidden value="{{ beer.name }}">
    <input type="submit" value="Оценить">
</form>
    </div>
    <strong><span id="beer_name">{{ beer.name }}</span></strong>
    <img src="../static/img/beer.jpg">
    <p>{{beer.description}}</p>

</div>
{% endblock %}